
.de-swatches {
	&-color {
		transition: .3s;
		display: block;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 50%;
		overflow: hidden;
		width: 20px;
		height: 20px;
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
		&--label {
			width: auto;
			text-align: center;
			border-radius: 0;
			background: transparent;
			border: 1px solid #000;
			color: #000;
			line-height: 7px;
			font-size: 9px;
			padding: 5px;
		}
	}
	&-container {
		overflow: hidden;
		margin-top: 15px;	}
	&__title {
		h4 {
			padding: .75em .75em .75em 1em;
		}
	}
}