.de-sc {
	&-latest-result {
		&__item {
			margin-bottom: 40px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			p {
				font-size: 14px;
				margin: 0;
			}
			&.instagram {
				span {
					display: block;
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
			}
			&.product {
				text-align: center;
				p {
					&.name {
						font-weight: 600;
					}
					del,
					ins {
						font-size: 12px;
					}
					&.out-of-stock {
						font-size: 12px;
						text-transform: uppercase;
						margin-top: 0.5em;
					}
				}
			}
			&.post {
				.de-category {
					margin: 0;
				}
			}
		}
		&__media {
			background: #e5e5e5;
			margin-bottom: 15px;
		}
		&__category {
			display: inline-block;
			line-height: 0;
			margin: 0 2px;
			margin-bottom: 0.8em;
		}
	}
	&-categories-grid {
		position: relative;
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 31px);
			height: 100%;
			background-size: cover;
			background-position: center;
			margin-left: 1rem;
		}
		&-two {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 43.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
		}
		&-three {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 43.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-3 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
		}
		&-four {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 43.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-3 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-4 {
				@include grid-column(12);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
		}
		&-five {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(4);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 28.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(8);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 28.75rem;
				}
			}
			&__cat-3 {
				@include grid-column(8);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 58.75rem;
				}
			}
			&__cat-4 {
				@include grid-column(4);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 28.75rem;
				}
			}
			&__cat-5 {
				@include grid-column(4);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 28.75rem;
				}
			}
		}
		&-six {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 43.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-3 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-4 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
			&__cat-5 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
			&__cat-6 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
		}
		&-seven {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 21.25rem;
				}
			}
			&__cat-2 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-3 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-4 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
			&__cat-5 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-6 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-7 {
				@include grid-column(12);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
		}
		&-eight {
			margin-bottom: 1.25rem;
			position: relative;
			&__cat-1 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
				    height: 43.75rem;
				}
			}
			&__cat-2 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-3 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-4 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-5 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-6 {
				@include grid-column(3);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 21.25rem;
				}
			}
			&__cat-7 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
			&__cat-8 {
				@include grid-column(6);
				@include grid-column-end();
				.de-sc-categories-grid-item {
					height: 43.75rem;
				}
			}
		}
		&-item {
			display: table !important;
			width: 100%;
			position: relative;
			border-spacing: 0;
			color: #fff;
			span {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
	&-taggd {
		@include grid-column(12);
		@include grid-column-end;
		ul {
			margin: 0;
		}
		&--dots-hover {
			.de-quickview.taggd-item:hover {
				+ .taggd-item-hover.show {
					opacity: 1;
					visibility: visible;
				}
			}
			.taggd-item-hover {
				width: 220px;
				height: 410px;
				background: #fff;
				padding: 10px;
				border: 1px solid #e5e5e5;
				visibility: hidden;
				&:hover {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&--list-top {
			li {
				display: inline-block;
				&::before {
					content: '/';
					margin-right: 5px;
				}
				&:first-child {
					&::before {
						content: '';
						margin: 0;
					}
				}
			}
			.taggd-item,
			.taggd-item-hover {
				display: none;
				visibility: hidden;
			}
			.de-sc-taggd__media,
			.de-sc-taggd__caption {
				@include grid-column(12);
			}
		}
		&--list-bottom {
			li {
				display: inline-block;
				&::before {
					content: '/';
					margin-right: 5px;
				}
				&:first-child {
					&::before {
						content: '';
						margin: 0;
					}
				}
			}
			.taggd-item,
			.taggd-item-hover {
				display: none;
				visibility: hidden;
			}
			.de-sc-taggd__media,
			.de-sc-taggd__caption {
				@include grid-column(12);
			}
		}
		&--list-left {
			li {
				list-style: none;
				text-align: center;
			}
			.taggd-item,
			.taggd-item-hover {
				display: none;
				visibility: hidden;
			}
			.de-sc-taggd__media {
				@include grid-column(12);
				@include breakpoint(medium) {
					@include grid-column(8);
				}
			}
			.de-sc-taggd__caption {
				@include grid-column(12);
				@include grid-column-end;
				@include breakpoint(medium) {
					@include grid-column(4);
				}
			}
		}
		&--list-right {
			li {
				list-style: none;
				text-align: center;
			}
			.taggd-item,
			.taggd-item-hover {
				display: none;
				visibility: hidden;
			}
			.de-sc-taggd__media {
				@include grid-column(12);
				@include grid-column-end;
				@include breakpoint(medium) {
					@include grid-column(8);
				}
			}
			.de-sc-taggd__caption {
				@include grid-column(12);
				@include breakpoint(medium) {
					@include grid-column(4);
				}
			}
		}
	}
	&-imageRotator {
		position: relative;
		&-inner {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	&-filter {
		position: relative;
		margin: 30px 0;
		&:hover {
			.de-image-overlay {
				opacity: 1;
			}
		}
		img {
			transition: opacity .6s, box-shadow .3s, -webkit-filter .6s, -webkit-transform .6s;
			transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
			transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s, -webkit-filter .6s, -webkit-transform .6s;
			opacity: 1;
		}
		&.de-image{
			&-overlay-add {
				&:hover {
					.de-image-overlay {
						opacity: 1;
					}
				}
			}
			&-color-dark {
				&:hover {
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
			}
			&-blur {
				&:hover {
					img {
						-webkit-filter: blur(5px);
						filter: blur(5px);
					}
				}
			}
			&-fade-in {
				img {
					opacity: .7;
				}
				&:hover {
					img {
						opacity: 1;
					}
				}
			}
			&-glow {
				&:hover {
					img {
						-webkit-filter: brightness(1.1);
						filter: brightness(1.1);
					}
				}
			}
			&-grayscale {
				&:hover {
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
			}
			&-remove-overlay {
				.de-image-overlay {
					opacity: 1;
				}
				&:hover {
					.de-image-overlay {
						opacity: 0;
					}
				}
			}
			&-zoom-fade {
				&:hover {
					img {
						opacity: .8;
						-webkit-transform: scale(1.1);
						-ms-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
			}
		}
	}
	&-video {
		&-banner {
			margin-bottom: 2rem;
			&__container {
				position: relative;
				&:hover {
					.de-sc-video-banner__overlay {
						opacity: 0;
					}
					.de-sc-video-banner__video {
						filter: brightness(0.6);
					}
				}
			}
			&__text {
				position: absolute;
				top: 0;
				z-index: 2;
				padding: 20px;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;
			}
			&__title {
				margin-bottom: 1em;
				font-weight: 900;
			}
			&__overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
				filter: brightness(.6);
				transition: .3s;
			}
			&__video {
				position: relative;
				width: 100%;
				height: 100%;
				z-index: 0;
				transition: .3s;
			}
		}
		&-popup {
			margin-bottom: 2rem;
			&__container {
				position: relative;
				max-height: 460px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__text {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 2rem;
				background: rgba(0, 0, 0, .6);
				&--hover {
					opacity: 0;
					transition: .3s;
					&:hover {
						opacity: 1;
					}
				}
				p {
					margin-bottom: 2.125em;
				}
			}
			&__title {
				font-weight: 900;
				@include breakpoint(large) {
					font-size: 2.250em;
				}
			}
			&__btn {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 100em;
				text-align: center;
				font-size: 2rem;
				color: #000;
				background-color: rgba(255, 255, 255, .9);
				i {
					line-height: 53px;
					padding-left: 3px;
				}
			}
			&__modal {
				background: rgba(0, 0, 0, .9);
				&[aria-hidden="false"] {
					display: table !important;
				}
				&-container {
					@include grid-row;
					display: table-cell;
					vertical-align: middle;
				}
				&-item {
					@include grid-column(12, 0);
					@include breakpoint(large) {
						@include grid-column(8);
						@include grid-column-position(center);
					}
				}
				&-media {
					position: relative;
					width: 100%;
					height: 0;
					padding-bottom: 56.25%;
					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				&-close {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 99;
					margin-top: -30px;
					color: #fff;
				}
			}
		}
	}
	&-message {
		position: relative;
		&-box {
			padding: 0 20px;
			margin: 0 !important;

		}
		&-bg-image {
			background-position: center;
			background-size: cover;
		}
		.de-sc-btn {
			border-radius: 99px;
			border-width: 3px;
			border-style: solid;
			padding: 20px;
		}
	}
	&-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		left: -1px;
		right: -1px;
		transition: opacity .6s, -webkit-transform .3s;
		transition: transform .3s, opacity .6s;
		transition: transform .3s, opacity .6s, -webkit-transform .3s;
	}
	&-teamMember {
		position: relative;
		&__image {
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top center;
				margin: 0 auto;
			}
		}
		&__meta {
			&--left {
				text-align: left;
			}
			&--center {
				text-align: center;
			}
			&--right {
				text-align: right;
			}
			&--name {
				margin-bottom: 20px;
			}
			&--role {
				margin-bottom: 0;
			}
			&--description {
				margin: 30px 0 0;
			}
		}
		&-about {
			text-align: center;
		}
		&--overlay {
			position: relative;
		}
		&.de-box-overlay {
			.de-sc-teamMember__meta {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				padding: 1.5em;
				opacity: 0;
				visibility: hidden;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				transition: opacity .3s ease, visibility .3s ease;
			    background: linear-gradient(to bottom,transparent 60%,rgba(0,0,0,0.5) );
			    h3,
			    p {
			    	color: #fff !important;
			    }
			}
			&:hover {
				.de-sc-teamMember__meta {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.de-box-transform {
			.de-sc-teamMember__image {
				overflow: hidden;
				&-title {
					position: absolute;
					bottom: 20px;
					left: 20px;
					right: 20px;
					transform: translateY(100%);
					opacity: 0;
					visibility: hidden;
			    	transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
			    	text-align: center;
			    	z-index: 2;
			    	h3,
			    	p {
			    		color: #fff !important;
			    	}
				}
			}
			.overlay {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				background: linear-gradient(to bottom,transparent 60%,rgba(0,0,0,0.5) );
				transition: opacity .3s ease, visibility .3s ease;
			}
			.de-sc-teamMember__meta {
				position: relative;
				min-height: 80px;
				overflow: hidden;
			    text-align: center;
			}
			.de-sc-teamMember__meta-title {
				position: absolute;
				top: 0;
				width: 100%;
				transform: translateY(0%);
				opacity: 1;
				visibility: visible;
			    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
			}
			.de-sc-teamMember__meta--description {
				opacity: 0;
				visibility: hidden;
			    transform: translateY(170%);
			    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
			}
			&:hover {
				.de-sc-teamMember__image-title {
					opacity: 1;
					visibility: visible;
					transform: translateY(0%);
				}
				.de-sc-teamMember__meta--description {
					opacity: 1;
					visibility: visible;
					transform: translateY(0%);
				}
				.de-sc-teamMember__meta-title {
					transform: translateY(-100%);
					opacity: 0;
					visibility: hidden;
				}
				.overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&-scrollTo-wrapper {
		position: fixed;
		top: 50%;
		right: 1%;
		z-index: 9999999;
		a {
			display: block;
			border: 3px solid transparent;
			background: #736455;
			margin: 10px 15px;
			width: 15px;
			height: 15px;
			border-radius: 30px;
			span {
				margin-top: -8px;
				position: absolute;
				right: 100%;
				opacity: 0;
				visibility: hidden;
				transition: opacity .3s, visibility .3s;
				width: 50vw;
				text-align: right;
			}
			&:hover {
				span {
					opacity: 1;
					visibility: visible;
				}
			}
			&.active {
				background: transparent;
				border-color: #000;
			}
		}
	}
	&-masonry {
		padding: 0 5px;
		margin: 0 0 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.medium-2 {
			// height: 287px;
			overflow: hidden;
		}
	}
	&-5-col {
		width: calc( 100% / 5);
		@include grid-column-end;
		&--large {
			width: 40%;
			@include grid-column-end;
		}
	}
	&-7-col {
		width: calc( 100% / 7);
		@include grid-column-end;
		&--large {
			width: 28.5%;
			@include grid-column-end;
		}
	}
	&-8-col {
		width: calc( 100% / 8);
		@include grid-column-end;
	}
	&-showcase {
		overflow: hidden;
		height: 460px;
		margin: 20px 0;
		&--style-1 {
			.de-sc-showcase {
				&__media {
					position: absolute;
					height: 100%;
					width: calc(100% - 30px);
					&-wrapper {
						position: relative;
						height: 100%;
					}
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				&__summary {
					position: absolute;
					height: 100%;
					width: 100%;
					background: #fff;
					&-wrapper {
						position: relative;
						height: 100%;
					}
				}
				&__action {
					position: absolute;
					bottom: 0;
					z-index: 9999;
				}
			}
		}
		&--style-2,
		&--style-3 {
			.de-sc-showcase {
				&__item {
					@include grid-column(12);
				}
				&__media {
					@include grid-column(12);
					@include breakpoint(medium) {
						@include grid-column(6);
					}
				}
				&__summary {
					@include grid-column(12);
					@include breakpoint(medium) {
						@include grid-column(6);
					}
				}
			}
			.slick-list {
				overflow: hidden;
			}
		}
	}
	&-countdown {
		&-inner {
			width:100%; 
			position:relative; 
			margin: .3em 0 .2em;
			display: flex; 
			justify-content: space-around;
			span {
				font-size: 3.750em;
				border-radius: 0;
				font-weight: bold;
				display:inline-block; 
				width:100%;
				text-align: center; 
				color:#FFF;
				padding: 30px 0; 
				margin:0 5px;
				letter-spacing: 5px;
				& strong {
					font-size: 14px !important;
					text-transform: uppercase;
					display: block;
				}
			}
			// &.de-countdown-text {
			// 	color: #000;
			// 	span {
			// 		display:inline-block; 
			// 		width:100%; 
			// 		font-weight: bolder; 
			// 		text-align: center; 
			// 		color:#FFF;  
			// 		line-height: 80%;
			// 		padding: 30px 0; 
			// 		margin:0 .05em .2em; 
			// 		border-radius: 5px;
			// 	}
			// }
			&.de-countdown-clock {
				span {
					background-color: rgba(0,0,0,.85);
				}
			}
		}
	}
	&-split-slider {
		height: 100%;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		overflow: hidden;
		.ms-section {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	&-post-carousel {
		overflow: hidden;
		&__container {
			position: relative;
			&:hover {
				.de-carousel__arrows {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&__item {
			margin-bottom: 20px;
		}
		&__media {
			&-cover {
				position: relative;
				overflow: hidden;
				padding-top: 75%;
			}
			img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__content {
			padding: 20px;
		}
		&--layout {
			&-bounce {
				.de-sc-post-carousel {
					&__item {
						&:hover {
							.de-sc-post-carousel__media {
								img {
									transform: translate3d(0, -5px, 0);
								}
							}
							.de-sc-post-carousel__content {
								transform: translate3d(0, -20px, 0);
							}
						}
					}
					&__media {
						img {
							transform: none;
							transition: .3s;
						}
					}
					&__content {
						transform: none;
						transition: .4s;
					}
				}
			}
		}
		&--style {
			&-light {
				.de-sc-post-carousel__content {
					background-color: #000;
				}
				.de-category a {
					color: #fff;
				}
				.de-article__title a {
					color: #fff;
				}
				.de-post-meta {
					.de-divider {
						color: #fff;
					}
					a {
						color: #fff;
					}
				}
				.de-article__content {
					color: #fff;
				}
				.de-social-share {
					span {
						color: #fff;
					}
					a {
						color: #fff;
					}
				}
			}
			&-dark {
				.de-category a {
					color: #000;
				}
				.de-article__title a {
					color: #000;
				}
				.de-post-meta {
					.de-divider {
						color: #000;
					}
					a {
						color: #000;
					}
				}
				.de-article__content {
					color: #000;
				}
				.de-social-share {
					span {
						color: #000;
					}
					a {
						color: #000;
					}
				}
			}
		}
		.de-social-share {
			padding: 0;
		}
	}
	&-fps {
		&__container {
			position: relative;
			width: 100%;
			height: 100vh;
		}
		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			text-align: center;
		}
	}
	&-svg {
		&__wrapper {
			&--top {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				.de-round-split {
					top: -7px;
					position: relative;
				}
			}
			&--bottom {
				position: absolute;
				left: 0;
				bottom: -7px;
				width: 100%;
			}
		}
	}
}
.de-image-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: -1px;
	right: -1px;
	transition: opacity .6s, -webkit-transform .3s;
	transition: transform .3s, opacity .6s;
	transition: transform .3s, opacity .6s, -webkit-transform .3s;
	opacity: 0;
}
.de-box-shadow {
	transition: box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
    transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s;
    transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
	&-1 {
		box-shadow: 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		&-hover:hover {
		    box-shadow: 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		}
	}
	&-2 {
		box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		&-hover:hover {
		    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	}
	&-3 {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);
		&-hover:hover {
		    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);
		}
	}
	&-4 {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);
		&-hover:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);
		}
	}
	&-5 {
		box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.2);
		&-hover:hover {
			box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.2);
		}
	}
    &:hover {
    	box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.2);
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
    }
}
.de-image-tagging-carousel {
	overflow: hidden;
}
.de-product-masonry {
	max-width: none;
}
.taggd-wrapper {
	overflow: visible;
}
.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}


.ms-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ms-section.ms-table{
    display: table;
    width: 100%;
}
.ms-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.ms-easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#multiscroll-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#multiscroll-nav.right {
    right: 17px;
}
#multiscroll-nav.left {
    left: 17px;
}
#multiscroll-nav ul{
  margin: 0;
  padding: 0;
}
#multiscroll-nav li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
#multiscroll-nav li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#multiscroll-nav li .active span{
    background: #333;
}
#multiscroll-nav span{
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.multiscroll-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
    white-space: nowrap;
    max-width: 220px;
}
.multiscroll-tooltip.right {
    right: 20px;
}
.multiscroll-tooltip.left {
    left: 20px;
}
